.light-theme {
  --background: rgb(251, 251, 253);
  --secondBackground: rgb(255, 255, 255);
  --text: rgb(10, 18, 30);
  --textSecondary: rgb(255, 255, 255);
  --primary: rgb(22, 115, 255);
  --secondary: rgb(10, 18, 30);
  --tertiary: rgb(231, 241, 251);
  --cardBackground: rgb(255, 255, 255);
  --inputBackground: rgb(255, 255, 255);
  --navbarBackground: rgb(255, 255, 255);
  --modalBackground: rgb(251, 251, 253);
  --errorColor: rgb(207, 34, 46);
  --logoColor: #243A5A;
  --lineColor: rgba(10, 18, 30, 0.025);

}

.dark-theme {
  --background: rgb(26, 32, 44);
  --secondBackground: rgb(45, 55, 72);
  --text: rgb(237, 237, 238);
  --textSecondary: rgb(255, 255, 255);
  --primary: rgb(22, 115, 255);
  --secondary: rgb(10, 18, 30);
  --tertiary: rgb(231, 241, 251);
  --cardBackground: rgb(45, 55, 72);
  --inputBackground: rgb(45, 55, 72);
  --navbarBackground: rgb(45, 55, 72);
  --modalBackground: rgb(26, 32, 44);
  --errorColor: rgb(207, 34, 46);
  --logoColor: #fff;
  --lineColor: rgba(10, 18, 30, 0.025);
}

:root {
  --font: 'Poppins', sans-serif;
  --shadow-md: 0 2px 4px 0 rgb(12 0 46 / 4%);
  --shadow-lg: 0 10px 14px 0 rgb(12 0 46 / 6%);
  --z-sticky: 7777;
  --z-navbar: 8888;
  --z-drawer: 9999;
  --z-modal: 9999;
  --swiper-navigation-size: 44px;
  --swiper-theme-color: #007aff;
  --card-circle-size: 50px;
  --card-gap-three: 20px;
  --mediumSize: 1025px;
  --smallSize: 1000px;
  --minSize: 768px;
}


html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  padding: 0px;
}

@media (max-width: 56.25em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 48.0625em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

.logo {
  flex-grow: 1;
}

.logo a {
  color: var(--logoColor);
}

body {
  min-height: 100vh;
  text-rendering: optimizespeed;
  line-height: 1.5;
  font-family: var(--font);
  color: var(--text);
  background: var(--background);
  font-feature-settings: "kern";
}

.container {
  margin: 0 auto;
  max-width: 130em;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0px 2rem;
  z-index: var(--z-navbar);
  padding: 1.5rem 0px;
  top: 0px;
}

.main-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
}

@media (max-width: 1000px) {
  .main-menu {
    display: none;
  }
}

ul.main-menu a {
  color: var(--text);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.025em;
  padding: 0.75rem 1.5rem;
  font-weight: 700;
}

.btn-signup {
  background: var(--primary);
  font-size: 1.2rem;
  color: var(--textSecondary);
  text-transform: uppercase;
  font-family: var(--font);
  font-weight: bold;
  border-radius: 0.4rem;
  border: 2px solid var(--primary);
  cursor: pointer;
  margin: 0 1rem;
  padding: 0.75rem 1.5rem;
  line-height: 1.8;
}



@media (max-width: 1000px) {
  .btn-signup {
    display: none;
  }
}


.btn {
  transition: transform 0.3s ease 0s;
}

.btn:hover {
  transform: scale(1.05);
}

.btn-toggle-theme {
  margin-left: 1rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0px;
  width: 4rem;
  height: 4rem;
  background: transparent;
  color: var(--text);
  position: relative;
}

.btn-toggle-theme svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-list-btn {
  margin-left: 1rem;
  display: none;
  cursor: pointer;
  align-items: center;
  border: 0px;
  width: 4.5rem;
  height: 4rem;
  background: transparent;
  color: var(--text);
  position: relative;
}

.menu-list-btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {
  .menu-list-btn {
    display: flex;
  }
}

.light-theme .sun {
  opacity: 0;
}

.dark-theme .moon {
  opacity: 0;
}

.text-title {
  font-size: 7.2rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 4rem;
  letter-spacing: -0.03em;
  margin-top: 0px;
}

.text-text {
  font-size: 1.8rem;
  opacity: 0.8;
  line-height: 1.6;
}

.text-links {
  display: flex;
  flex-wrap: wrap;
}

.btn-subscribe {
  margin-right: 2rem;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background: var(--primary);
  padding: 1.75rem 2.25rem;
  font-size: 1.2rem;
  color: var(--textSecondary);
  text-transform: uppercase;
  font-family: var(--font);
  font-weight: bold;
  border-radius: 0.4rem;
  border: 2px solid var(--primary);
  transition: transform 0.3s ease 0s;
  backface-visibility: hidden;
  will-change: transform;
  cursor: pointer;
}

.btn-subscribe span {
  margin-left: 2rem;
}

.btn-features {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background: transparent;
  padding: 1.75rem 2.25rem;
  font-size: 1.2rem;
  color: var(--text);
  text-transform: uppercase;
  font-family: var(--font);
  font-weight: bold;
  border-radius: 0.4rem;
  border: none;
  transition: transform 0.3s ease 0s;
  backface-visibility: hidden;
  will-change: transform;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .text-links {
    flex-direction: column;
    row-gap: 20px;
  }

  .btn-features {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
  }

  .btn-subscribe {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
  }
}

.header-info {
  display: flex;
  padding: 5rem;
  position: relative;
  max-width: 130em;
  width: 100%;
  margin: 0px auto;
  padding: 0px 2rem;
  display: flex;
  padding-top: 5rem;
}

@media (max-width: 1025px) {
  .header-info {
    flex-direction: column;
    max-width: 100%;
    box-sizing: border-box;
  }
}


.header-text-info {
  flex: 1 1 0%;
  max-width: 60rem;
}



.text-subtitle {
  margin-bottom: 2rem;
  display: block;
  font-size: 1.3rem;
  letter-spacing: 0.02em;
  font-weight: bold;
  line-height: 0;
  text-transform: uppercase;
}

.text-subtitle::before {
  position: relative;
  bottom: -0.1em;
  content: "";
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background-color: var(--primary);
  line-height: 0;
  margin-right: 1em;
}

.header-image-info {
  display: flex;
  flex: 1 1 0%;
  justify-content: flex-end;
  align-items: flex-start;
}

.header-image-info svg {
  max-width: 45rem;
}

@media (max-width: 1025px) {
  .header-image-info svg {
    flex-direction: column;
    max-width: 100%;
  }

  .header-text-info {
    max-width: 100%;
  }
}

.partbers-text {
  font-size: 1.3rem;
  letter-spacing: 0.02em;
  line-height: 0;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
  opacity: 0.8;
}

.partners {
  position: relative;
  max-width: 130em;
  width: 100%;
  margin: 0px auto;
  padding: 0px 2rem;
  margin-top: 15rem;
}

@media (max-width: 1000px) {
   .partners{
    box-sizing: border-box;
   }
}

.flex {
  display: flex;
}

.partners-logo-container {
  width: 100%;
  padding-top: 5rem;
  justify-content: space-between;
  overflow: hidden;
  column-gap: 20px;
}

.main-content-section {
  margin-top: 15rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1025px) {
  .main-content-section {
    display: flex;
    flex-direction: column-reverse;
  }
}

.side-img {
  /* width: 100%;  */
  max-height: 400px;
  object-fit: contain;
  object-position: bottom;
}

@media (max-width: 1025px) {
  .side-img {
    max-height: 1000px;
    max-width: 100%;
  }

  .second-main-section {
    display: flex;
    flex-direction: column;
  }
}


.mr-5 {
  margin-right: 5rem;
}


ul.list li::before {
  position: absolute;
  content: "L";
  left: 0px;
  top: 0px;
  text-align: center;
  color: var(--primary);
  font-family: arial;
  transform: scaleX(-1) rotate(-35deg);
}

ul.list {
  list-style: none;
  padding: 0rem;
}

ul.list li {
  padding-left: 2rem;
  position: relative;
}

h3 {
  font-size: 4.2rem;
}

.pt-5 {
  padding-top: 60px;
}

.pb-5 {
  padding-bottom: 60px;
}

.bg-secondary {
  background-color: var(--secondary);
  color: var(--textSecondary);
}

.w-100 {
  width: 100%
}

.button-section {
  max-width: 60%;
  margin: auto;
  text-align: center;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-feature-secondary {
  border: 1px solid var(--textSecondary);
  color: rgb(var(--textSecondary));
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background: transparent;
  padding: 1.75rem 2.25rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: var(--font);
  font-weight: bold;
  transition: transform 0.3s ease 0s;
  will-change: transform;
  cursor: pointer;
  border-radius: 5%;
}

@media (max-width: 1025px) {
  .btn-feature-secondary {
    width: 100%;
    box-sizing: border-box;
  }
}

.text-center {
  text-align: center;
}

h2 {

  font-size: 5.2rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 4rem;
  letter-spacing: -0.03em;
  margin-top: 0px;
}

.pt-150 {
  margin-top: 150px;
}

.pb-150 {
  margin-bottom: 150px;
}

.accordion-card {
  width: 25vw;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  background: var(--cardBackground);
  box-shadow: var(--shadow-md);
  opacity: 1;
  cursor: pointer;
  border-radius: 0.6rem;
  transition: opacity 0.2s ease 0s;
  font-size: 1.7rem;
  font-weight: bold;
  opacity: 0.8;
}

.card-circle {
  width: var(--card-circle-size);
  height: var(--card-circle-size);
  border-radius: 100%;
  background-color: brown;
}

.card-top {
  display: flex;
  align-items: center;
  column-gap: calc(1rem);
}

.card-title {
  padding-left: 1rem;
  text-wrap: wrap;
  width: calc(100% - var(--card-circle-size) - 1rem - 1rem);
}

.card-text {
  padding-top: 0.5rem;
  font-weight: normal;
  display: none;
  text-wrap: wrap;
}

.accordion-card-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.display-none {
  display: none;
}

.selected-card {
  opacity: 1;
}

.selected-card .card-text {
  display: block;
}

.accordion-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.flexible-img-bg {
  height: 450px;
  width: 800px;
  background-image: url(https://next-saas-starter-ashy.vercel.app/_next/image?url=%2Fdemo-illustration-5.png&w=1200&q=80);
  background-size: cover;
}

.accordion-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

@media(max-width: 1025px) {
  .accordion-container{
    flex-direction: column;
  }
  .flexible-img-bg{
    width: 0;
  }

  .accordion-card{
    width: 100%; 
    box-sizing: border-box;
  }
}

.mt-150 {
  margin-top: 150px;
}

.feature-card {
  display: flex;
  padding: 2.5rem;
  background: var(--cardBackground);
  box-shadow: var(--shadow-md);
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  width: calc(100% / 3 - 4 * var(--card-gap-three));
  border-radius: 0.6rem;
  color: var(--text);
  font-size: 1.6rem;
}

.feature-card-title {
  margin-top: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.Ñontain-img {
  object-fit: contain;
  object-position: bottom;
}

.feature-card-img {
  max-height: 72px;
  width: 100%;
}

.img-feature-card-container {
  padding-top: 20px;
  padding-bottom: 20px;
}


.feature-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap-three);
}

.mb-150 {
  margin-bottom: 150px;
}

.line {
  margin: 12.5rem 0px;
  border: 1px solid var(--lineColor);
  height: 0px;
}

.wrap-card-wrapper {
  display: flex;
  flex-direction: column;
  height: 45rem;
  max-width: 35rem;
  overflow: hidden;
  text-decoration: none;
  border-radius: 0.6rem;
  background: rgb(var(--cardBackground));
  cursor: pointer;
  color: rgb(var(--text));

  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.small-container {
  width: 60%;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.second-btn-section {
  padding-top: 50px;
  padding-bottom: 200px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.footer-nav-header {
  font-weight: bold;
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
}

.footer-nav-list {
  font-size: 1.7rem;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.footer-nav-list>:not(:first-child) {
  margin-top: 1rem;
}


a {
  color: var(--textSecondary);
  text-decoration: none;
  opacity: 0.8;
}



.footer-links-container {
  display: flex;
  gap: 1.1rem;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.copyright {
  margin-top: 10rem;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}


.gp-type {
  column-gap: 100px;
}

/* -----------------------SLIDER------------------ */

.slide {
  height: 250px;
  font-size: 1.4rem;
}

.slide-quote {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  font-style: italic;
  max-width: 60%;
}

.person-name {
  font-weight: normal;
  margin: 0px;
}

.person-position {
  font-weight: bold;
  margin: 0px;
}



.person-photo>img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  object-fit: contain;
  object-position: center;
}

.slide-person-wrapper {
  display: flex;
  column-gap: 10px;
}

.slider {
  display: flex;
  width: calc(100% * 3);
}

.slider-wrapper {
  overflow: hidden;
}

/* WRAP-CARD */

.wrap-card-wrapper {
  background-color: var(--cardBackground);
  max-width: 300px;
  max-height: 360px;
  border-radius: 3%;
  padding-bottom: 40px;
}

.wrap-card-img-container {
  height: 192px;
  width: 100%;
  background-image: url(https://next-saas-starter-ashy.vercel.app/_next/image?url=%2Fposts%2Ftest-article%2Fexample-image-1.jpeg&w=1200&q=75);
  background-size: cover;
  border-radius: 5% 5% 0 0;
}

.wrap-card-title {
  font-size: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.wrap-card-text {
  font-size: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  opacity: 0.6;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.wrap-card-info {
  max-width: 80%;
}

.wrap-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease 0s;
}

h4 {
  margin: 1rem, 0px;
}

.wrap-card-container {
  width: 100%;
  overflow: hidden;
}


.wrap-card-visible {
  display: flex;
  column-gap: 15px;
  overflow: auto;
  width: 200%;
}